/* Typography */
@font-face {
  font-family: "heading";
  src: url("./assets/fonts/heading-font/atkinson-hyperlegible-bold-102-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/heading-font/atkinson-hyperlegible-bold-102-webfont.woffatkinson-hyperlegible-bold-102-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "body";
  src: url("./assets/fonts/body-font/atkinson-hyperlegible-regular-102-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/body-font/atkinson-hyperlegible-regular-102-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "heading", sans-serif;
}

body {
  font-family: "body", sans-serif;
  font-size: 18px;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Utilities */
.no-bullets {
  list-style: none;
}

.underline {
  text-decoration: underline;
}

.container {
  width: 92%;
  max-width: 920px;
  margin-inline: auto;
}

.section-padding {
  padding-block: 2em;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 1em 1.4em;
  border-radius: 50px;
}

.hide {
  opacity: 0;
  position: absolute;
  left: -5000px;
  top: -5000px;
}

.btn.primary {
  background-color: #000;
  color: #fff;
}

.btn.secondary {
  border: 3px solid #000;
  color: none;
  background: none;
}

.logo {
  font-size: 32px;
  font-family: "heading", sans-serif;
}
.logo-orange {
  color: orangered;
}

/* Wrapper */
#wrapper {
  background: linear-gradient(
    to bottom,
    rgba(2, 16, 206, 0.7),
    rgb(240, 76, 0)
  );
  color: #fff;
}

/* Navigation Bar */
#navigation-bar {
  padding-block: 1.4em;
}
#navigation-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
#navigation-bar .buttons {
  display: flex;
  gap: 2em;
}

/* Hero */
#hero {
  height: 80vh;
  text-align: center;
}
#hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}
#hero h1 {
  font-size: 3.5em;
}
#hero p {
  font-size: 1.3em;
  margin-block: 1em;
}
#hero .btn {
  font-size: 1.3em;
}

/* Footer */

#footer a {
  color: orangered;
  font-size: 1.3em;
}
#footer ul {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}

/* Forms */
form {
  padding: 1.4em;
  background-color: orangered;
  width: 290px;
  border-radius: 40px;
  margin-bottom: 3em;
}

form h2 {
  font-size: 1.8em;
  margin-bottom: 1.5em;
}

form ul li {
  margin-bottom: 1.5em;
}

form label {
  font-size: 1.2em;
}

form .buttons {
  margin-top: 4em;
}

form input,
form select,
form textarea,
form button {
  padding: 1em;
  font: inherit;
  border-radius: 50px;
  width: 100%;
  margin-top: 1em;
}
form ul li > * {
  display: block;
}
